<!DOCTYPE html>
<html ng-app="intercom-demo">
  <head>
    <title>IntercomDemo</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>

    <base href="/">
  </head>

  <body ng-view>
    <%= yield %>
  </body>
</html>
